@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    background: rgba(255,255,255,0);
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: #3e3e3e;
    border-radius: 5px;
}